.flight-img
{width:4em;
}
.free{
  width:100%;
  font-size:1.5em;
  padding-top: 1em;

}
.top{
  background-color: grey;
  display:inline-block;
  padding-left: 1em;
  width:100%;

}
  .flight-img{
  float:left;
  margin-right:2em;
}
